.alignement-tableau {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    gap: 60px;
}

.position {
    margin-bottom: 50px;
}

.jaune {
    color: rgb(216, 196, 14);
}

.text-align {
    text-align: left;
}

.section-tarifs {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.rouge {
    color: rgb(255, 0, 0);
}

.global-p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.double-p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

.encadre-blanc {
  display: inline-block;
  padding: 12px 20px;
  border: 2px solid #fff;
  color: #e80808;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff; /* Fond blanc avec opacité */
  border-radius: 6px;
  margin: 10px auto;
}

.section-tarifs {
  background-color: rgb(74, 37, 37);
  box-shadow: 5px 5px 10px #222;
  padding: 0 30px 200px;
  margin-left: 33%;
  width: 34.6%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
